@model IEnumerable<fyaazGouthamLab3.Models.MovieDatum>

@{ ViewData["Title"] = "All movies"; }

<h1 class="mb-4">All Movies</h1>

<div>
    <a asp-action="Create">Create New</a>
</div>

<form method="post" asp-action="AllMovies">
    <div class="input-group mb-3" style="float: right; width: 30%;">
        <input class="form-control" type="search" placeholder="Enter The Title" value="@ViewData["MovieData"]" name="search" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReleaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>}
    </tbody>
</table>

